html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

header {
  height: 100vh; }
  @media (max-width: 960px) {
    header {
      height: 500px; } }

.container {
  position: relative;
  margin: auto;
  max-width: 90%;
  display: block; }
  @media (max-width: 1150px) {
    .container {
      width: 900px; } }
  @media (max-width: 960px) {
    .container {
      width: 700px; } }

#logo {
  width: 240px;
  height: 50px;
  position: absolute;
  left: 0px;
  top: 75px;
  z-index: 100; }
  @media (max-width: 960px) {
    #logo {
      top: 35px; } }
  @media (max-width: 770px) {
    #logo {
      left: 10%; } }
  #logo svg.mark {
    width: 50px; }
    @media (max-width: 960px) {
      #logo svg.mark {
        margin-right: -20px; } }
  #logo svg {
    height: 50px;
    vertical-align: top; }
    @media (max-width: 960px) {
      #logo svg {
        height: 40px; } }
  #logo svg.text {
    width: 180px; }
  @media (max-width: 960px) {
    #logo {
      height: 150px;
      margin-left: -50px; } }

#navigation-main nav ul {
  position: absolute;
  right: 0px;
  top: 90px;
  list-style: none;
  display: flex;
  color: white;
  justify-content: flex-end; }
  @media (max-width: 960px) {
    #navigation-main nav ul {
      display: none; } }
  #navigation-main nav ul li {
    padding: 0 20px;
    color: white;
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: 2px;
    cursor: crosshair;
    font-size: 15px;
    line-height: 30px; }
    @media (max-width: 1150px) {
      #navigation-main nav ul li {
        font-size: 13px; } }

#hero {
  height: 100%;
  background-image: url("../img/hero-slide.jpg");
  background-size: cover;
  background-position: top;
  background-position: center;
  background-repeat: no-repeat; }
  #hero .hero-text {
    text-align: center; }
  #hero #hero-scroll-down span {
    color: white;
    font-family: 'Fjalla One', sans-serif;
    font-size: 14px;
    letter-spacing: 2px;
    position: absolute;
    top: 88%;
    left: 50%;
    transform: translate(-50%, 0);
    line-height: 60px;
    padding: 0px 30px;
    background: #dc7725;
    border-radius: 3px; }
    #hero #hero-scroll-down span:hover {
      cursor: pointer; }
    @media (max-width: 960px) {
      #hero #hero-scroll-down span {
        display: none; } }
  #hero #hero-text-hold {
    position: absolute;
    top: 25%;
    width: 100%; }
    @media (max-width: 960px) {
      #hero #hero-text-hold {
        top: 20%; } }
  #hero .hero-text h2 span {
    display: block;
    margin: auto;
    font-size: 20px;
    line-height: 30px;
    color: white;
    letter-spacing: 6px;
    font-family: 'Fjalla One', sans-serif; }
    @media (max-width: 960px) {
      #hero .hero-text h2 span {
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 4px; } }
    @media (max-width: 770px) {
      #hero .hero-text h2 span {
        font-size: 12px;
        line-height: 20px; } }
  #hero .hero-text svg {
    height: 225px;
    margin-top: -45px; }
    @media (max-width: 960px) {
      #hero .hero-text svg {
        height: 150px;
        margin-top: -30px; } }
    @media (max-width: 770px) {
      #hero .hero-text svg {
        height: 95px;
        margin-top: -20px; } }
  #hero .heading-sep {
    height: 5px;
    width: 250px;
    background: white;
    margin: 25px auto;
    margin-top: -37px; }
    @media (max-width: 770px) {
      #hero .heading-sep {
        margin-top: -10px; } }
  #hero .video-btn {
    background: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: block;
    margin: auto;
    -webkit-transition: transform 0.3s, opacity 0.3s; }
    #hero .video-btn:hover {
      -webkit-transform: scale(1.25); }
  #hero .video-btn img {
    padding: 30px 0px 30px 10px;
    width: 40px;
    max-width: 100%; }

/*# sourceMappingURL=app.css.map */
