.nav-container {
  width: 900px;
  position: relative;
  margin: auto;
  display: flex;
  justify-content: space-between;
  ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
  li {
    font-family: $open;
    margin: 0px 20px;
  }
  span {
    font-family: $open;
  }
}

#navigation-category {
  padding: 20px 0px;
  display: block;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  background-image: url("../img/nav-bg.jpg");
  background-position: top center;
  background-repeat: repeat-x;
  height: 80px;
  line-height: 30px;
  font-size: 14px;
  color: $shady;
}
