header {
  height: 100vh;

  @media (max-width: 960px) {
    height: 500px;
  }
}

.container {
  position: relative;
  margin: auto;
  max-width: 90%;
  display: block;
  @media (max-width: 1150px) {
    width: 900px;
  }
}


#logo {
  width: 240px;
  height: 50px;
  position: absolute;
  left: 0px;
  top: 75px;
  svg.mark {
    width: 50px;
  }
  svg {
    height: 50px;
    vertical-align: top;
  }
  svg.text {
    width: 180px;
  }
}

#navigation-main nav ul {
  position: absolute;
  right: 0px;
  top: 90px;
  list-style: none;
  display: flex;
  color: white;
  justify-content: flex-end;
  @media (max-width: 960px) {
    display: none;
  }
  li {
    padding: 0 20px;
    color: white;
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: 2px;
    cursor: crosshair;
    font-size: 15px;
    line-height: 30px;
    @media (max-width: 1150px) {
      font-size: 13px;
    }
  }
}


#hero {
  height: 100%;
  background-image: url("../img/hero-slide.jpg");
  background-size: cover;
  background-position: top;
  background-position: center;
  background-repeat: no-repeat;
  .hero-text {
    text-align: center;
  }
  #hero-text-hold {
    position: absolute;
    top: 25%;
    width: 100%;
  }
  .hero-text h2 span {
    font-size: 20px;
    line-height: 30px;
    color: white;
    letter-spacing: 6px;
    font-family: 'Fjalla One', sans-serif;
  }
  .hero-text svg {
    height: 225px;
    margin-top: -45px;
  }
}
